.error {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  text-align: center;
  padding-top: 2em;
  height: 70vh;
}

.error img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: var(--dark-shadow);
}

.error p {
  font-weight: 600;
  margin-top: 1em;
}