.create {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create h4 {
  color: var(--clr-violet-light);
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 1em;
  border-radius: 5px;
  height: auto;
}

.form input {
  margin: 0.5em 0.8em;
}

.form button {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}