#titleForget{
  font-size: 1.5rem;
}

#forget {
  height: 60vh;
  height: auto;
  border: 1px solid black;
}

.btn {
  width: 60%;
  outline: none;
}

.successMsg {
  color: var(--clr-primary-7);
}

.errorMsg {
  color: var(--clr-red-dark);
}