.banner-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner-container h1{
  padding: 0.5em 0;
  color: var(--primary);
}

@media (max-width: 500px) {
  .banner-container h1{
    text-align: center;
  }
}

